$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html, body {
    height: 100%;
}

html {
    background-image: url(./assets/background.svg);
    background-size: cover;
}